footer
    div.technologies
        ul
            li
                img(src="/assets/image/angular.png", alt="Superheroic JavaScript MVW Framework")
            li
                img(src="/assets/image/jade.png", alt="Template Engine")
            li
                img(src="/assets/image/less.png", alt="Less.js")                            
            li
                img(src="/assets/image/gulp.png", alt="the streaming build system")      
    div.copyright
        ul
            li teste
