@import 'lesshat';
@import 'colors';
@import 'variables';

body {
    background:  #fff;
}

#layout {
    width: 90%;
    margin: auto;
}

header {
    h1 {
        .drop-shadow(0 4 0 lighten(@color-peter-river, 30%));

        display: block;
        font-size: 3em;
        font-family: 'Patua One', cursive;
        color: @color-peter-river;
        text-align: center;
    }
}

#navigation-bar {
    .border-radius(10px);
    .box-shadow(0 4 0 darken(@color-clouds, 10%));

    background: @color-clouds;
    text-align: center;
    line-height: 50px;

    ul {
        li {
            display: inline-block;
            margin: auto 10px;

            a {
                margin: auto 10px;
                text-decoration: none;
                color: @color-wet-asphalt;
            }
        }
    }
}

#home {
    #resume {
        margin-left: 10px;
        padding-left: 5px;
        border-left: 4px solid @color-concrete;
    }

    #skills {
        padding-top: 10px;

        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }

        .activity {
            li {
                .border-radius(10px);

                display: block;
                padding: 10px;
                border: 1px solid #000;
            }
        }
        .platform {
            li {
                font-weight: normal;
                margin-left: 10px;
                border: none;
            }
        }
        .language {
            li {
                font-weight: normal;
                margin-left: 10px;
                border: none;
            }
        }
        .category {
            li {
                font-weight: normal;
                margin-left: 10px;
                border: none;
            }
        }
        .desc {
            li {
                font-weight: normal;
                margin-left: 10px;
                border: none;
            }
        }
    }
}
