footer
    div.right teste
    div.left
        ul
            li
                img(src="/assets/image/angular.png")
            li
                img(src="/assets/image/jade.png")
            li
                img(src="/assets/image/less.png")                            
