footer
    div.technologies
        ul
            li
                img(src="/assets/image/angular.png")
            li
                img(src="/assets/image/jade.png")
            li
                img(src="/assets/image/less.png")                            
            li
                img(src="/assets/image/gulp.png")      
    div.copyright teste
